/* Reset default margin/padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make sure html/body takes full screen */
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f4f6; /* soft gray background */
}
