<div class="task-create-wrapper">
  <form [formGroup]="taskForm" (ngSubmit)="createOrEditTask()" class="task-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
      <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
        Title is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Category</mat-label>
      <mat-select formControlName="label" required>
        <mat-option value="To Do">To Do</mat-option>
        <mat-option value="In Progress">In Progress</mat-option>
        <mat-option value="Done">Done</mat-option>
      </mat-select>
      <mat-error *ngIf="taskForm.get('label')?.hasError('required')">
        Category is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="due_date" required />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="taskForm.get('due_date')?.hasError('required')">
        Due date is required
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">
        {{ editMode ? 'Update Task' : 'Create Task' }}
      </button>
    </div>
  </form>
</div>
