<div class="task-create-wrapper">
  <form
    [formGroup]="taskForm"
    (ngSubmit)="createOrEditTask()"
    class="task-form"
  >
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
      <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
        Title is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Category</mat-label>
      <mat-select formControlName="label" required>
        <mat-option value="To Do">To Do</mat-option>
        <mat-option value="In Progress">In Progress</mat-option>
        <mat-option value="Done">Done</mat-option>
      </mat-select>
      <mat-error *ngIf="taskForm.get('label')?.hasError('required')">
        Category is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Due Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="due_date"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="taskForm.get('due_date')?.hasError('required')">
        Due date is required
      </mat-error>
    </mat-form-field>

    <div *ngIf="editMode" class="history-section">
      <mat-divider></mat-divider>

      <div class="history-toggle-container">
        <button
          type="button"
          mat-stroked-button
          color="primary"
          (click)="showHistory = !showHistory"
        >
          {{ showHistory ? "Hide" : "Show" }} History
        </button>
      </div>

      <div [@slideToggle] *ngIf="showHistory">
        <div *ngIf="history.length > 0" class="history-list">
          <div *ngFor="let h of history" class="history-item">
            <strong>{{ h.old_label || "None" }}</strong> →
            <strong>{{ h.new_label }}</strong>
            <br />
            <small>{{ h.changed_at | date: "medium" : "UTC" }}</small>
          </div>
        </div>

        <div *ngIf="history.length === 0" class="no-history">
          No history available.
        </div>
      </div>

      <mat-divider></mat-divider>
    </div>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">
        {{ editMode ? "Update Task" : "Create Task" }}
      </button>

      <button
        mat-button
        type="button"
        class="close-button"
        (click)="closeDialog()"
      >
        Close
      </button>

      <button
        mat-button
        *ngIf="editMode"
        class="close-button"
        type="button"
        (click)="deleteTask()"
      >
        Delete
      </button>
    </div>
  </form>
</div>
